name: Run Test Template

on:
    workflow_call:
        inputs:
            qdrant_image:
                description: "Qdrant Docker image to use"
                required: true
                type: string
            qdrant_version:
                description: "Qdrant version"
                required: true
                type: string

jobs:
    build_test:
        runs-on: ubuntu-latest
        services:
            # single node qdrant
            qdrant:
                image: ${{ inputs.qdrant_image }}
                ports:
                    - "6333:6333"
                    - "6334:6334"
                    - "6335:6335"

            # 2-node qdrant cluster
            qdrant-1:
                image: ${{ inputs.qdrant_image }}
                ports:
                    - "6343:6333"
                    - "6344:6334"
                    - "6345:6335"
                env:
                    QDRANT__CLUSTER__ENABLED: true
                    QDRANT_URI: "http://qdrant-1:6343"
                #   QDRANT__CLUSTER__NODE_ID: node1
                #   QDRANT__CLUSTER__PEERS: node2:6353

            qdrant-2:
                image: ${{ inputs.qdrant_image }}
                ports:
                    - "6353:6333"
                    - "6354:6334"
                    - "6355:6335"
                env:
                    QDRANT_BOOTSTRAP: "http://qdrant-1:6343"
                    QDRANT_URI: "http://qdrant-2:6353"
                    QDRANT__CLUSTER__ENABLED: true
                #   QDRANT__CLUSTER__NODE_ID: node2
                #   QDRANT__CLUSTER__PEERS: node1:6343

            # single node qdrant for multi-client tests
            qdrant-00:
                image: ${{ inputs.qdrant_image }}
                ports:
                    - "6363:6333"
                    - "6364:6334"
                    - "6365:6335"

        env:
            CI: true
            QDRANT_VERSION: ${{ inputs.qdrant_version }}

        steps:
            - uses: actions/checkout@v3

            - name: Display current qdrant version and image
              run: |
                  echo "Running with Qdrant image: ${{ inputs.qdrant_image }}"
                  echo "Qdrant version: ${{ inputs.qdrant_version }}"

            - name: Setup .NET 8
              uses: actions/setup-dotnet@v3
              with:
                  dotnet-version: 8.0.x

            - name: Setup .NET 9
              uses: actions/setup-dotnet@v3
              with:
                  dotnet-version: 9.0.x

            - name: Setup .NET 10
              uses: actions/setup-dotnet@v3
              with:
                  dotnet-version: 10.0.x

            - name: Restore dependencies
              run: dotnet restore

            - name: Build
              run: dotnet build --configuration Release --no-restore

            - name: Test
              run: dotnet test --configuration Release --no-build --verbosity normal
